@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bgColor: #ffcdd2;
  --subHeading: #E57373;
  --lineColor: #EF5353;
  --mainColor: #e10f28;
}

html,
body {
  width: 100%;
  height: 100%;
}



h1,
h2,
h3,
h4,
h5 {
  font-family: 'Lato';
  position: relative;
}

.hidden {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.show {
  opacity: 1;
  transform: translateY(0);
}

.heading::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 40px;
  height: 3px;
  background-color: var(--lineColor);
}

header {
  position: relative;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 20px;
  gap: 20px;
  box-shadow: 8px 0 2px #333;
}


.logo {
  display: flex;
  align-items: center;
}

.logo .icon {
  width: 100px;
  object-fit: contain;
}

header .logo h2 {
  font-size: 2rem;
  color: var(--mainColor);

}

header nav {
  display: flex;
  list-style: none;
  gap: 20px;
  align-items: center;
  justify-content: center;
}



nav a {
  position: relative;
  font-family: 'Barlow';
  text-decoration: none;
  font-size: 1.1rem;
  color: #444444;
  text-transform: uppercase;
  font-weight: 500;
}

a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: var(--mainColor);
  transition: width 0.3s ease;
}

a:hover::after {
  width: 100%;
}


/* Hearo Section */
.hero {
  position: relative;
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  background: url('/static/content/bg.png');
  background-position: center;
  background-size: cover;
}

.hero::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.text {
  width: 70%;
  z-index: 999;
}

.text h2 {
  font-weight: 600;
  font-size: 5.5rem;
  color: var(--mainColor);
}

.text .sub-headline {
  font-family: sans-serif;
  font-size: 1.8rem;
  font-weight: lighter;
  margin-bottom: 20px;
  margin-top: -10px;
  color: var(--bgColor);
}

.cta {
  padding: 10px 20px;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-family: 'Lato';
  font-weight: 600;
  color: #ffff;
  border: none;
  border-radius: 25px;
  background: var(--mainColor);
  /* box-shadow: 3px 2px 3px #333; */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.text .cta:hover {
  background-color: #ae0519;
}

.text .learnMore {
  padding: 10px 20px;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-family: 'Lato';
  font-weight: 600;
  color: #ffff;
  border: none;
  border-radius: 25px;
  background: #333;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.text .learnMore:hover {
  background-color: black;
}



/* heart disease section */
.mainContent {

  width: 100%;
  margin: 2em 0;
  padding: 30px;

}

.heartDisease {
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: space-around;
  align-items: flex-start;
}

.heartDisease .aboutDisease {
  width: 60%;
  margin-top: 3.5em;
}

.heartDisease .image {
  width: 40%;
}

.heartDisease img {
  width: 100%;
  height: 100%;
}

h3 {
  color: var(--mainColor);
  font-size: 2.5rem;
  margin: .5em 0;
}

.heartDisease p {
  font-family: 'Barlow';
  text-align: left;
  font-size: 2.2rem;
  color: #333;
  font-weight: 400;
}


.ProtectHeart {
  width: 100%;
  margin: 6em 0;

}





.steps {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-row: auto;
  gap: 1rem;


}

.card {
  border: 2px solid var(--lineColor);
  border-radius: 10px;
  box-shadow: 2px 2px 5px #333;
  display: flex;
  flex-direction: column;
  align-items: center;



}

.card h4 {
  color: var(--mainColor);
  font-size: 1.2rem;
  padding: .5em 0;
}

.steps img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;

}

.card-text {
  width: 100%;
  height: 100%;
  background-color: var(--mainColor);
  padding: .5em;
  color: white;
}

.card p {
  font-family: 'Barlow';
  text-align: center;
  font-weight: 300;
  line-height: 24px;
  font-size: 1.2rem;
}

.aboutModel {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.aboutModel h3,
p {
  align-self: flex-start;
}

.aboutModel p {
  font-family: 'Barlow';
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: .5em;
}



.aboutModel .cta {
  width: 20%;
  ;

}

.aboutModel img{
  width: 100%;
  height: fit-content;
}
table{
  margin: .5em 0;
  width: 100%;
  border-collapse: collapse;
}

.aboutModel h4{
  font-size: 1.4rem;
  margin-top: .5em;
}

table th,tr,td{
  border: 1px solid black;
  padding: 10px 20px;
  font-size: 1.2rem;
  border-color: white;
  text-align: center;
}

table th{
  background-color: #333;
  color: white;
}


table td:nth-child(1){
  background-color: #333;
  color: white;
 
}

table td:nth-child(2){
  background-color: green;
  color: white;
}
table td:nth-child(3){
  background-color: var(--mainColor);
  color: white;
}

table td:nth-child(4){
  background-color: var(--subHeading);
  color: white;
}

.howItWork{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Projectsteps{
  width: 100%;
  height: 50vh;
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  align-content: center;
  gap: 20px;
}

.Projectsteps .card{
  height: 250px;
  padding: .5em;
  background-color: var(--mainColor);
  color: white;
}
.Projectsteps h3{
  color: white;
}


footer {
  width: 100%;
  height: 40vh;
  background-color: var(--mainColor);
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  border-top: 4px solid #7b150e;
}

.top {
  display: flex;
  justify-content: space-evenly;
}

.bottom {
  align-self: center;
  font-size: 1.4em;
}

footer a {
  text-decoration: none;
  color: white;
  font-family: 'Barlow';
  font-size: 1.3rem;
}

footer a:hover::after{
  width: 0;
}

ol {
  list-style: inside;
  font-family: 'Barlow';
  font-size: 1.3rem;
}

footer h2 {
  margin: .5em 0;
}


/* Form Design */

.main{
  max-width: 800px;
  margin: 0 auto;
}

.title{
  text-align: center;
  margin-top: 1em;
  margin-bottom: -46px;
  padding: .5em;
  border-radius: 8px 8px 0 0;
  text-transform: uppercase;
  background-color: var(--mainColor);
  color: white;
}

form {
  max-width: 800px;
  margin: 3em auto;
  background: white;
  padding: 2rem;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 10px var(--mainColor);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}


.user-data {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}


.span-2 {
  grid-column: 1 / -1;
}


label {
  font-weight: bold;
  font-size: 1.2rem;
  color: #333;

}

.info {
  font-weight: normal;
  font-size: 0.8rem;
  color: #666;
}

input[type="text"],
select {
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 0.9rem;
  transition: border-color 0.2s;
}

input[type="text"]:focus,
select:focus {
  outline: none;
  border-color: var(--lineColor);
  box-shadow: 0 0 0 3px var(--bgColor);
}

.gender-group {
  display: flex;
  gap: 1.5rem;         
}


.radio {
  display: flex;
  align-items: center; 
  gap: 0.4rem;          
  font-size: 0.95rem;
  cursor: pointer;      
}


.radio input[type="radio"] {
  transform: scale(1.1);
  accent-color: var(--mainColor);
}


form button {
  grid-column: 1 / -1;
  padding: 0.8rem;
  background: green;
  color: white;
  font-size: 1.3rem;
  text-transform: uppercase;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s;

}

button:hover {
  background: darkgreen;
}

/* Model Result Design */
.result{
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #ccc;
  border-radius: 10px;
  margin: 1em 0;
}

.hide{
  display: none;
}

.error{
  grid-column: 1/-1;
  color: var(--mainColor);
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
}





/* Main Page Responsive */

.bar{
  display: none;
  flex-direction: column;
  align-items: flex-end;
  gap: 3px;
}

.bar .line{
  width: 30px;
  height: 6px;
  background-color: black;
  border-radius: 10px;
}

.line:nth-child(even){
  background-color: red;
  width: 32px;
}


/* OTHER PAGES TITLE SECTION */
.pageTitle{
  width: 100%;
  height: 75px;
  background-color: var(--mainColor);
  margin-bottom: 2em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  color: white;
  font-weight: 700;
  font-family: 'Lato';
}

/* Responsive Design */


@media (max-width: 868px) {

    header {
        justify-content: space-between;
    }

    header nav {
        display: none; 
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: white;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }

    header nav.active {
        display: flex; 
    }


    nav a {
        padding: 1rem 0;
        width: 100%;
        text-align: center;
    }

    .bar {
        display: flex; 
        cursor: pointer;
    }


    
    .hero {
        height: auto;
        padding: 4em 2em;
        text-align: center;
    }

    .text {
        width: 100%;
    }

    .text h2 {
        font-size: 3.5rem;
    }

    .text .sub-headline {
        font-size: 1.4rem;
    }

  
    .heartDisease {
        flex-direction: column;
        align-items: center;
    }

    .aboutDisease{
      order: 2;
    }
    .heartDisease .aboutDisease,
    .heartDisease .image {
        width: 100%;
    }

    .heartDisease p {
        font-size: 1.5rem;
    }

    
    .aboutModel .cta {
        width: 50%;
    }

   
    .Projectsteps {
        grid-template-columns: 1fr;
        height: auto;
    }

 
    footer{
      height: fit-content;
      gap: 30px;
    }

    .top {
        flex-direction: column;
        align-items: center;
        text-align: left;
    }

    footer h2{
        margin-top: 1.5em;
    }

    
    form {
        grid-template-columns: 1fr;
    }

    .span-2 {
        grid-column: 1 / 1;
    }

    /* OTHER PAGES TITLE SECTION */
.pageTitle{
  font-size: 1rem;
}
}



@media (max-width: 576px) {

    
    .mainContent{
        padding: 15px;
    }

    table th{
      font-size: 1rem;
    }

    h3{
        font-size: 2rem;
    }

    
    header .logo h2 {
        font-size: 1.5rem;
    }

    .logo .icon {
        width: 80px;
    }

    
    .hero {
        padding: 2em 1em;
    }

    .text h2 {
        font-size: 2.5rem;
    }

    .text .sub-headline {
        font-size: 1.2rem;
    }

    .cta, .text .learnMore {
        font-size: 1rem;
        padding: 8px 16px;
    }

    
    .heartDisease p {
        font-size: 1.2rem;
    }

    .heartDisease .aboutDisease {
        order: 2;
        margin-top: 1.5em;
    }

   
    .ProtectHeart {
        margin: 3em 0;
    }

    .steps {
        grid-template-columns: 1fr;
    }

  
     .aboutModel p {
        font-size: 1.2rem;
     }

    .aboutModel table{
        font-size: 1rem;
    }

    .aboutModel .cta {
        width: 80%;
    }

   
    form {
        padding: 1.5rem;
    }

    .gender-group {
        flex-direction: column;
        gap: 0.8rem;
    }

    
    footer{
        height: auto;
        padding-bottom: 2em;
    }
}


